

.clear {
    clear: both;
}

.create-order-panel {
    width: 500px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

}

.orderText {
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.orderInfo {
    margin-left: 5%;
    margin-right: 5%;
}

.nonLogin {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.final-message{
    
}

.datepicker {

}

.datetimepicker {

}

.timepicker {

}