body {
    background: url("img/background.jpg");
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main {
    width: 1282px;
    /*min-height: 800px;*/
    margin: 20px auto;
}

.border {
    margin: 5px;
    padding: 0px;
    border: solid;
    border-width: 1px;
    border-color: #6FBBDB;
}

.alignHorizontalCenter {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 30%;
    margin-right: 30%;
}

.orderText {
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}

.orderListHeight {
    /*height: 85%;*/
    margin-left: 10px;
    margin-right: 10px;
}

.orderList {
    border-color: #6FBBDB;
    /*height: 600px;*/
    margin: 10px 10px 10px 10px;
}

.pagination {
    margin: auto;
}

#search-form {
    margin-top: 200px;
}

.searcheWidth {
    width: 150px;
}

.cancelOrderButton {
    float: left;
    width: 150px;
    margin-top: 10px;
    margin-left: 5px;
}

.createOrderPanel {
    padding: 20px;
    width: 250px;
    background: #eeeeee;
    border: #282828 2px solid;
    font-family: Georgia;
}

.edit {
    float: left;
    width: 100px;
    margin: 10px;
}

.save-panel {
    margin-top: 160px;
    margin-left: 10px;
    margin-right: 10px;
}

.edit-panel {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.edit-panel-heading {
    background-color: #428BCA;
    text-decoration-color: #428BCA;
    color: #428BCA;
    outline-color: #428BCA;
    text-emphasis-color: #428BCA;
}

.panel-body-input {

}

.rows-count {
    width: 280px;
}

.rows-count-height {
    height: 30px;
}

.floatRight {
    float: right;
    margin-right: 10px;
    height: 18px;
}

.switcher {
    width: 150px;
    height: 30px;
}

.labelCount {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}

.textCount {
    float: left;
    height: 30px;
    width: 50px;
}

